[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
ffpyplayer = "*"
pytesseract = "*"
pillow = "*"
opencv-python = "*"
fpdf = "*"
faker = "*"
pyscard = "*"
pypdf2 = "*"
pdf2image = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.8"
