[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
ffpyplayer = "*"
pyqt5 = "*"
pytesseract = "*"
pillow = "*"
opencv-python = "*"
fpdf = "*"

[dev-packages]

[requires]
python_version = "3.8"
